# ALL APP dependencies
/node_modules
/.pnp
.pnp.js

# ____________________
# FRONTEND
# Local
frontend/.DS_Store
frontend/*.local
frontend/*.log*

# Dist
frontend/node_modules
frontend/dist/

# IDE
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea

# ____________________
# BACKEND